# Service file to run zakurad by systemd.
# Setup (Ubuntu/Debian) instructions:
# 1- Build the zakurad binary:
# cargo build -p zakura --release
# 2- Copy/Move the built zakurad binary into your system binaries path:
# sudo cp target/release/zakurad /usr/bin
# 3- Replace AssertPathExists and ExecStart with the location of your binary if needed.
# 4- Place this file in systemd system folder, with the other systemd files:
# cp zakurad/systemd/zakurad.service /lib/systemd/system/
# 5- Start zakurad from systemd for the first time:
# systemctl start zakurad.service
# 6- Check status:
# systemctl status zakurad.service
# 7- Uninstall:
# systemctl stop zakurad.service
# rm /lib/systemd/system/zakurad.service
[Unit]
AssertPathExists=/usr/bin/zakurad

[Service]
ExecStart=/usr/bin/zakurad start
Restart=always
PrivateTmp=true
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal

[Install]
Alias=zakurad
WantedBy=default.target
